section {
  text-align: center;
  padding: 10px;
}

.still-download {
  margin-top: 30px;
}

.blessing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#final-download {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 960px;
}

#final-download .action-button {
  flex-grow: 1;
  margin: 20px;
  max-width: 300px;
}

.expiry {
  margin: 0;
}

#final-download .docx-download-header {
  margin: 30px 0 0 0;
}

#final-download .secondary-button {
  flex-grow: 1;
  margin: 20px;
  max-width: 300px;
}