section {
  text-align: center;
  padding: 10px;
}

.blessing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#final-download {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#final-download .action-button {
  flex-grow: 1;
  margin: 20px;
}