.doc-preview {
  -webkit-filter: blur(0.5px);
  -moz-filter: blur(0.5px);
  -o-filter: blur(0.5px);
  -ms-filter: blur(0.5px);
  /* Safari 3.1+ */
  -webkit-user-select: none;
  /* Firefox 2+ */
  -moz-user-select: none;
  /* IE 10+ */
  -ms-user-select: none;
  /* Standard syntax */
  user-select: none;
  filter: blur(0.5px);
  margin-bottom: 30px;
  width: 255px;
  height: 330px;
  background-color: white;
}

.doc-preview * {
  font-family: 'Cormorant Garamond';
}

.doc-preview * {
  color: black;
}

.header {
  margin: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.header span {
  color: grey;
  font-size: 8px;
}

.title {
  position: relative;
  font-size: 20px;
  margin-top: 15px;
  font-weight: 700;
  text-align: center;
}

.chapter-heading {
  margin-left: 35px;
}

.book-intro {
  font-size: 5px;
  margin: 15px 10px;
  line-height: 8px;
  text-align: center;
}

.text-body {
  max-height: 200px;
  margin: 0px 15px;
  font-size: 5px;
  line-height: 8px;
  text-align: justify;
  column-count: 2;
  column-gap: 30px;
  column-rule-style: solid;
  column-rule-color: black;
  column-rule-width: 2px;
  border-bottom: 1px;
  border-bottom-style: solid;
}

.text-body div {
  margin-bottom: 5px;
}

.first-letter {
  font-size: 10px;
}

@media only screen and (max-width: 800px) {
  .doc-preview {
    transform: scale(0.8);
    margin-top: -40px;
    margin-bottom: 0;
  }
}