.blessing-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--background-color);
  padding: 30px;
  border-radius: 5px;
  margin-top: 20px;
}

.blessing-form > * {
  margin-bottom: 20px;
  border: none;
}

.blessing-form > *:nth-last-child(1) {
  margin-bottom: 0;
}

.blessing-form input {
  border-radius: 2px;
  padding: 5px;
}

@media only screen and (max-width: 475px) {
  main {
    margin: 70px 30px;
  }
}

.gender-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}