.blessing-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--background-color);
  padding: 30px;
  border-radius: 5px;
  margin-top: 20px;
}

.blessing-form>* {
  margin-bottom: 20px;
  border: none;
}

.blessing-form>*:nth-last-child(1) {
  margin-bottom: 0;
}

.blessing-form h5 {
  margin-bottom: 5px;
}

.form-div {
  max-width: 410px;
}

.blessing-form input {
  border-radius: 2px;
  padding: 5px;
}

.gender-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}

.gender-label {
  margin-bottom: 0;
}

.react-calendar {
  width: 100%;
  max-width: 350px;
}

.optional-tag {
  color: #444;
}

.submit-form-error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);
  text-align: center;
}

.submit-form-error svg {
  margin-right: 10px;
}