header {
  background-color: var(--brand-color);
  margin-bottom: 1.45rem;
  display: flex;
  justify-content: center;
}

nav {
  padding: 1.45rem 1.0875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  width: 100%;
}

nav h1,
nav h3 {
  width: fit-content;
  margin: 0;
}

nav a {
  color: var(--background-color);
  text-decoration: none;
}

nav a:hover {
  border-bottom: 3px solid var(--background-color);
}

.brand-logo {
  display: flex;
  align-items: center;
}

.brand-logo:hover {
  border-bottom: none;
}

#scriptly-logo {
  height: 40px;
  margin-right: 10px;
}

#scriptly-logo-path {
  fill: var(--background-color);
}

#language-button {
  background: none;
  border: none;
}

#language-logo {
  height: 28px;
}

#language-path {
  fill: var(--background-color);
}

#language-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: var(--background-color);
  -webkit-box-shadow: 5px 7px 25px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 7px 25px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 7px 25px -3px rgba(0, 0, 0, 0.75);
  width: 120px;
  border-radius: 5px;
  margin-left: -86px;
}

.language {
  background: none;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  font-family: Righteous;
  color: var(--brand-color);
  width: 100%;
}

.language:hover,
.language:focus {
  color: var(--background-color);
  background-color: var(--brand-color);
}

#nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav-links>* {
  margin-left: 30px;
}

@media only screen and (max-width: 800px) {
  header {
    height: 70px;
  }
}