header {
  background-color: var(--brand-color);
  margin-bottom: 1.45rem;
  display: flex;
  justify-content: center;
}

nav {
  padding: 1.45rem 1.0875rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 960px;
  width: 100%;
}

nav h1 {
  margin: 0;
}

.brand-logo {
  color: var(--background-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}

#scriptly-logo {
  height: 40px;
  margin-right: 10px;
}

#scriptly-logo-path {
  fill: var(--background-color);
}