header {
  background-color: var(--brand-color);
  margin-bottom: 1.45rem;
  display: flex;
  justify-content: center;
}

nav {
  padding: 1.45rem 1.0875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  width: 100%;
}

nav h1,
nav h3 {
  width: fit-content;
  margin: 0;
}

nav a{
  color: var(--background-color);
  text-decoration: none;
}

nav a:hover {
  border-bottom: 3px solid var(--background-color);
}

.brand-logo {
  display: flex;
  align-items: center;
}

.brand-logo:hover {
  border-bottom: none;
}

#scriptly-logo {
  height: 40px;
  margin-right: 10px;
}

#scriptly-logo-path {
  fill: var(--background-color);
}